<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>909121361017-h8ie6u76duu623l3p2hhjug88uvjastq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.909121361017-h8ie6u76duu623l3p2hhjug88uvjastq</string>
	<key>API_KEY</key>
	<string>AIzaSyD37vQ2Z-hg0Hsd_quaKGe45trprD_FXWw</string>
	<key>GCM_SENDER_ID</key>
	<string>909121361017</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.EasyGames.CoinFlip</string>
	<key>PROJECT_ID</key>
	<string>easygames-coinflip</string>
	<key>STORAGE_BUCKET</key>
	<string>easygames-coinflip.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:909121361017:ios:0b128db61c65608f1570a8</string>
</dict>
</plist>